@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Please Log Morning Temperatures</h1>
        <p class="lead">Fridges, Freezers and Food</p>
        <hr class="my-4">
        <p>
            Todays temperatures were logged by Artur<br />
            
        </p>
    </div>



