@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Please Log Morning Cleaning</h1>
        <p class="lead">List of Cleaning shit to do</p>
        <hr class="my-4">
        <p>
            Todays cleaning procedure was logged by Artur<br />
            
        </p>
    </div>



