@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Good Morning Artur</h1>
        <p class="lead">There is 8 items on M.E.P.</p>
        <hr class="my-4">
        <p>
            Todays temperatures were logged by Artur<br />
            Please complete cleaning due diligence
        </p>
    </div>



