@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">M.E.P</h1>
        <p class="lead">Maybe group items automatically? Prioritising</p>
        <hr class="my-4">
        <p>
            Add Item<br />
            
        </p>
    </div>



