@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Report Issue</h1>
        <p class="lead">Faults, breakages, new equipment, complaints</p>
        <hr class="my-4">
        <p>
            Write new<br />
            
        </p>
    </div>



