@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Hi Artur</h1>
        <p class="lead">Here's your stats</p>
        <hr class="my-4">
        <p>
            Temp sheets completed: 41<br />
            M.E.P. Items checked: 522<br />
            Items Clean: 42442<br />
        </p>
    </div>



